In [193]:
#import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor

### Day.csv

In [223]:
df=pd.read_csv('https://raw.githubusercontent.com/akashsmaran/CompleteDataScienceCodes/master/Datasets/bikesharing/day.csv')
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [216]:
df.shape

(731, 16)

In [217]:
df.isnull().sum() #no NaN values

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [219]:
df.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [224]:
df.dteday=df.dteday.str.replace('-','')
# df.dteday=pd.to_numeric(df.dteday)
df=df.astype(float)
df.dtypes

instant       float64
dteday        float64
season        float64
yr            float64
mnth          float64
holiday       float64
weekday       float64
workingday    float64
weathersit    float64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual        float64
registered    float64
cnt           float64
dtype: object

In [152]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [210]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.1, random_state=42)

In [211]:
gbr=GradientBoostingRegressor(loss='ls',learning_rate=0.1,n_estimators=100,max_depth=5)
gbr.fit(x_train,y_train)
print(gbr.score(x_test,y_test))

0.998534783548224

### Hour.csv

In [183]:
df1=pd.read_csv('https://raw.githubusercontent.com/akashsmaran/CompleteDataScienceCodes/master/Datasets/bikesharing/hour.csv')
df1.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [225]:
df1.isnull().sum() #no NaN values

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [187]:
df1.dteday=df1.dteday.str.replace('-','')
df1=df1.astype(float)

In [189]:
df1.dtypes

instant       float64
dteday        float64
season        float64
yr            float64
mnth          float64
hr            float64
holiday       float64
weekday       float64
workingday    float64
weathersit    float64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual        float64
registered    float64
cnt           float64
dtype: object

In [190]:
x1=df.iloc[:,:-1]
y1=df.iloc[:,-1]

In [212]:
x1_train, x1_test, y1_train, y1_test = train_test_split(x1, y1, test_size=0.10, random_state=42)

In [213]:
gbr=GradientBoostingRegressor(loss='ls',learning_rate=0.1,n_estimators=100,max_depth=5)
gbr.fit(x1_train,y1_train)
print(gbr.score(x1_test,y1_test))

0.9985345299657243